.bgSection {
  background-image: url(/3.1.jpg);
  background-size: cover; /* Hace que la imagen cubra toda la sección sin deformarse */
  background-position: center; /* Centra la imagen en la sección */
  background-repeat: no-repeat; /* Evita que la imagen se repita si no llena todo el contenedor */
}

@media(max-width:768px){
  .bgSection{
      background-image: url(/2.jpg);

  }
}